body,
h1,
h2,
h3,
ul,
li,
dt,
dd,
dl {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #592323;
 
}
.faq{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  color: white;
}
.faq-lista {
background-color: white;
padding: 10px;
border-radius: 4px;
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);
}
.faq-lista dt {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #1c1919;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
border-radius: 50%;
  background: #CE1487;
}

.faq-lista dd {
  font-family: sans-serif;
  margin-bottom: 0.5rem;
  margin-left: 30px;
  color: #545353;
}

.js .js-tabcontent section {
  display: none;
}
.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.js-accordion dd {
  display: none;
}
.js-accordion dt::after {
  content: "⯆";
  margin-left: 10px;
}
.js-accordion dt.ativo::after {
  content: "⯅";
}
.js-accordion dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}
@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 250px;
  }
}
